.la-line-scale,
#nav .nav-list a.active,
#nav .nav-list a:hover,
.main-color {color: #d9b166!important; }
.main-bg-color {background-color: #d9b166!important; }
.main-border-color {border-color: #d9b166!important; }